html, body {
    height: 100%;
    margin: 0;
}

body { /* Sirodkowanie tekstu w body */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center; 
}

h1 { /* Sirodkowanie tekstu */
    text-align: center;
}

#post-meme-form { /* Sirodkowanie tekstu */
    text-align: center; 
}

#meme-container { /* Css dla posta z memem */
    overflow-y: auto;
    width: 80%; 
    margin: auto; 
    flex: 1;
    box-sizing: border-box;
}

.meme-container { /* Odstep i kolor krawedzi boxa z memem */
    margin-top: 10px;
    border: 1px solid #000000;
    padding: 10px;
}

.meme-container img { /* Wielkosc obrazka mema */
    width: 550px;
    max-height: 750px;  
    height: auto;
    display: block;
}
label{ /* NIe uzywane */
    display: block;
    padding: 12px;
    background-color: rgb(67, 85, 85);
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
#logout-btn { 
    vertical-align: middle;
  }